{#
    The base template for Hydrogen-Proxy-generated pages.

    Exported Blocks
    ===============
    page_title
        In the <title></title> tag. Used to add text to the title of the page.

    extra_head
        In the <head></head> tag. Used to add things such as script or style
        tags to the head.

    content
        In the <body></body> tag. Used to add content to the body of the page.
 #}

<!DOCTYPE html>
<html>
    <head>
        <title>Hydrogen Proxy - {% block page_title %}{% endblock %}</title>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
