{#
    The template used to generate error pages.

    Variables
    =========
    stacktrace
        The stacktrace to display as a string.
 #}

{% extends "base.html" %}

{% block page_title %}Error{% endblock %}

{% block content %}
    <h1>Hydrogen Proxy - {{self.page_title()}}</h1>
    <p>Hydrogen Proxy encountered an error while trying to service a request. Error details follow:</p>
    <p><pre><code>{{stacktrace}}</code></pre></p>
{% endblock %}
