{#
    The template which generates home page of the Hydrogen Proxy admin
    interface. This home page displays two lists of links, one to the module
    details pages of each of the receivers registered and one to only the
    receivers.

    Variables
    =========
    receivers
        An iterable of AdminModules for receivers (modules which receive
        requests from a client.)

    modules
        An iterable of AdminModules for registered modules.
 #}

{% extends "contrib/admin/admin_base.html" %}

{% block page_title %}Home{% endblock %}

{% block admin_content %}
    <h1>Hydrogen Proxy Admin - {{self.page_title()}}</h1>
    {% if receivers %}
        <h2>Receivers</h2>
        <ul>
        {% for receiver in receivers %}
            <li>
            {% with module=receiver %}
                {% include "contrib/admin/admin_module_link.html" %}
            {% endwith %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Receivers Found.</p>
    {% endif %}

    {% if modules %}
        <h2>All Modules</h2>
        <ul>
        {% for module in modules %}
            <li>
            {% include "contrib/admin/admin_module_link.html" %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
    {% endif %}
{% endblock %}
