{#
    The template used generate a module details page in the Hydrogen Proxy
    admin interface.

    Variables
    =========
    module
        The AdminModule for which details are to be displayed.
 #}

{% extends "contrib/admin/admin_base.html" %}

{% block page_title %}Module {{module.name}}{% endblock %}

{% block extra_head %}
<style type="text/css">
div.args {
    margin-left: 1em;
}
</style>
{% endblock %}

{% block admin_content %}
    <h1>Hydrogen Proxy Admin - {{self.page_title()}} - {{module.instance.__class__.__name__}}</h1>
    {% if module.parents %}
        <h2>Parent Modules</h2>
        <ul>
        {% for parent in module.parents %}
            <li>
            {% with module=parent %}
                {% include "contrib/admin/admin_module_link.html" %}
            {% endwith %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No parents.</p>
    {% endif %}

    <h2>Definition</h2>
    <div>
    {{module.instance.__class__.__name__}}(
    {% with argslist=module.args %}
        {% include "contrib/admin/admin_argslist.html" %}
    {% endwith %}
    {% if module.args and module.kwartgs %},{% endif %}
    {% with argskwargs=module.kwargs %}
        {% include "contrib/admin/admin_argskwargs.html" %}
    {% endwith %}
    )
    </div>

    <h2>Docstring</h2>
    <code>{{module.instance.__class__.__doc__}}</code>
{% endblock %}
