{#
    The "admin home" link displayed on all pages of the Hydrogen Proxy admin
    interface.

    Variables
    =========
    base_path
        The path to the admin home page.
 #}
<span class="top_link"><a href="/{{base_path}}">Admin Home</a></span>
<span class="top_link"><a href="{% if base_path|length > 0 %}/{% endif %}{{base_path}}/settings">Settings</a></span>
