{#
    Outputs a page for displaying configuration values from all layers in a
    settings object.

    Variables
    =========
    layers
        An iterable of configuration layers. Layers may define a text_repr
        property which contains a human-readable output of all of the
        configuration values in the layer.
 #}

{% extends "contrib/admin/admin_base.html" %}

{% block page_title %}Settings{% endblock %}

{% block admin_content %}
    <h1>Hydrogen Proxy Admin - {{self.page_title()}}</h1>
    {% if layers %}
        {% for layer in layers %}
        <h2>{{layer.__repr__()}}</h2>
            {% if layer.text_repr %}
            <pre><code>{{layer.text_repr}}</code></pre>
            {% else %}
            <p>None Found</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No Layers Found.</p>
    {% endif %}
{% endblock %}
